In [0]:
#02 Creating Spark Data Frame to Select and Rename Columns
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]
import pandas as pd
spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)
users_df = spark.createDataFrame(pd.DataFrame(users))
users_df.show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1438456753455101>:9
      1 #02 Creating Spark Data Frame to Select and Rename Columns
      2 import datetime
      3 users = [
      4     {
      5         "id": 1,
      6         "first_name": "Corrie",
      7         "last_name": "Van den Oord",
      8         "email": "cvandenoord0@etsy.com",
----> 9         "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
     10         "courses": [1, 2],
     11         "is_customer": True,
     12         "amount_paid": 1000.55,
     13         "customer_from": datetime.date(2021, 1, 15),
     14         "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
     15     },
     16     {
     17         "id": 2,
     18         "first_name": "Nikolaus",
     19         "last_name": "Brewitt",
     20         "email": "nbrewitt1@dailymail.co.uk",
     21         "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
     22         "courses": [3],
     23         "is_customer": True,
     24         "amount_paid": 900.0,
     25         "customer_from": datetime.date(2021, 2, 14),
     26         "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
     27     },
     28     {
     29         "id": 3,
     30         "first_name": "Orelie",
     31         "last_name": "Penney",
     32         "email": "openney2@vistaprint.com",
     33         "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
     34         "courses": [2, 4],
     35         "is_customer": True,
     36         "amount_paid": 850.55,
     37         "customer_from": datetime.date(2021, 1, 21),
     38         "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
     39     },
     40     {
     41         "id": 4,
     42         "first_name": "Ashby",
     43         "last_name": "Maddocks",
     44         "email": "amaddocks3@home.pl",
     45         "phone_numbers": Row(mobile=None, home=None),
     46         "courses": [],
     47         "is_customer": False,
     48         "amount_paid": None,
     49         "customer_from": None,
     50         "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
     51     },
     52     {
     53         "id": 5,
     54         "first_name": "Kurt",
     55         "last_name": "Rome",
     56         "email": "krome4@shutterfly.com",
     57         "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
     58         "courses": [],
     59         "is_customer": False,
     60         "amount_paid": None,
     61         "customer_from": None,
     62         "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
     63     }
     64 ]
     65 import pandas as pd
     66 spark.conf.set('spark.sql.execution.arrow.pyspark.enabled', False)

NameError: name 'Row' is not defined

In [0]:
#03 Overview of Narrow and Wide Transformations
%md 


Let us get an overview of Narrow and Wide Transformations.
* Here are the functions related to narrow transformations. Narrow transformations doesn't result in shuffling. These are also known as row level transformations.
  * `df.select`
  * `df.filter`
  * `df.withColumn`
  * `df.withColumnRenamed`
  * `df.drop`
* Here are the functions related to wide transformations.
  * `df.distinct`
  * `df.union` or any set operation
  * `df.join` or any join operation
  * `df.groupBy`
  * `df.sort` or `df.orderBy`
* Any function that result in shuffling is wide transformation. For all the wide transformations, we have to deal with group of records based on a key.

In [0]:
#04 Overview of Select on Spark Data Frame
%run "./02 Creating Spark Data Frame to Select and Rename Columns"
help(users_df.select)
users_df.select('*').show()
users_df.select('id', 'first_name', 'last_name').show()
users_df.select(['id', 'first_name', 'last_name']).show()
# Defining alias to the dataframe
users_df.alias('u').select('u.*').show()
users_df.alias('u').select('u.id', 'u.first_name', 'u.last_name').show()
from pyspark.sql.functions import col
users_df.select(col('id'), 'first_name', 'last_name').show()
from pyspark.sql.functions import col, concat, lit
users_df.select(
    col('id'), 
    'first_name', 
    'last_name',
    concat(col('first_name'), lit(', '), col('last_name')).alias('full_name')).show()

In [0]:
#05 Overview of selectExpr on Spark Data Frame
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, lit, col
import datetime

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": {"mobile": "+1 234 567 8901", "home": "+1 234 567 8911"},
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  {"mobile": "+1 234 567 8923", "home": "1 234 567 8934"},
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": {"mobile": "+1 714 512 9752", "home": "+1 714 512 6601"},
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": {"mobile": None, "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": {"mobile": "+1 817 934 7142", "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Now, perform the operations
help(users_df.selectExpr)
users_df.selectExpr('*').show()

# Defining alias to the dataframe
users_df_alias = users_df.alias('u')
users_df_alias.selectExpr('u.*').show()

users_df.selectExpr('id', 'first_name', 'last_name').show()

users_df.selectExpr(['id', 'first_name', 'last_name']).show()

users_df. \
    select(
        'id', 'first_name', 'last_name', 
        concat(col('first_name'), lit(', '), col('last_name')).alias('full_name')
    ). \
    show()

users_df.selectExpr('id', 'first_name', 'last_name', "concat(first_name, ', ', last_name) AS full_name").show()

spark.sql("""
    SELECT id, first_name, last_name,
        concat(first_name, ', ', last_name) AS full_name
    FROM users
"""). \
    show()

Help on method selectExpr in module pyspark.sql.dataframe:

selectExpr(*expr: Union[str, List[str]]) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of SQL expressions and returns a new :class:`DataFrame`.

    This is a variant of :func:`select` that accepts SQL expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with new/old columns transformed by expressions.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.selectExpr("age * 2", "abs(age)").show()
    +---------+--------+
    |(age * 2)|abs(age)|
    +---------+--------+
    |        4|       2|
    |       10|       5|
    +---------+--------+

+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email|first_name| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15|cvandenoord0@etsy...|    Corrie|  1|       true|Van den Oord|2021-02-10 01:15:00|{mobile -> +1 234...|
|      900.0|    [3]|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  2|       true|     Brewitt|2021-02-18 03:33:00|{mobile -> +1 234...|
|     850.55| [2, 4]|   2021-01-21|openney2@vistapri...|    Orelie|  3|       true|      Penney|2021-03-15 15:16:55|{mobile -> +1 714...|
|       null|     []|         null|  amaddocks3@home.pl|     Ashby|  4|      false|    Maddocks|2021-04-10 17:45:30|{mobile -> null, ...|
|       null|     []|         null|krome4@shutterfly...|      Kurt|  5|      false|        Rome|2021-04-02 00:55:18|{mobile -> +1 817...|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+

+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email|first_name| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15|cvandenoord0@etsy...|    Corrie|  1|       true|Van den Oord|2021-02-10 01:15:00|{mobile -> +1 234...|
|      900.0|    [3]|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  2|       true|     Brewitt|2021-02-18 03:33:00|{mobile -> +1 234...|
|     850.55| [2, 4]|   2021-01-21|openney2@vistapri...|    Orelie|  3|       true|      Penney|2021-03-15 15:16:55|{mobile -> +1 714...|
|       null|     []|         null|  amaddocks3@home.pl|     Ashby|  4|      false|    Maddocks|2021-04-10 17:45:30|{mobile -> null, ...|
|       null|     []|         null|krome4@shutterfly...|      Kurt|  5|      false|        Rome|2021-04-02 00:55:18|{mobile -> +1 817...|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

In [0]:
#06 Referring Columns using Spark Data Frame Names
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, lit, col
from datetime import datetime

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# User data
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": {"mobile": "+1 234 567 8901", "home": "+1 234 567 8911"},
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime(2021, 1, 15),
        "last_updated_ts": datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers": {"mobile": "+1 234 567 8923", "home": "1 234 567 8934"},
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime(2021, 2, 14),
        "last_updated_ts": datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": {"mobile": "+1 714 512 9752", "home": "+1 714 512 6601"},
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime(2021, 1, 21),
        "last_updated_ts": datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": {"mobile": None, "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": {"mobile": "+1 817 934 7142", "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime(2021, 4, 2, 0, 55, 18)
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Show all columns
users_df.show()

# Select specific columns using selectExpr
users_df.selectExpr('id', 'first_name', 'last_name').show()

# Concatenate first_name and last_name to create full_name column
users_df.select(
    'id', 'first_name', 'last_name', 
    concat(col('first_name'), lit(', '), col('last_name')).alias('full_name')
).show()

# Using selectExpr to create full_name
users_df.selectExpr('id', 'first_name', 'last_name', "concat(first_name, ', ', last_name) AS full_name").show()

# Creating a temporary view
users_df.createOrReplaceTempView('users')

# Running SQL query on the temporary view
spark.sql("""
    SELECT id, first_name, last_name,
        concat(first_name, ', ', last_name) AS full_name
    FROM users
""").show()

+-----------+-------+-------------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses|      customer_from|               email|first_name| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|2021-01-15 00:00:00|cvandenoord0@etsy...|    Corrie|  1|       true|Van den Oord|2021-02-10 01:15:00|{mobile -> +1 234...|
|      900.0|    [3]|2021-02-14 00:00:00|nbrewitt1@dailyma...|  Nikolaus|  2|       true|     Brewitt|2021-02-18 03:33:00|{mobile -> +1 234...|
|     850.55| [2, 4]|2021-01-21 00:00:00|openney2@vistapri...|    Orelie|  3|       true|      Penney|2021-03-15 15:16:55|{mobile -> +1 714...|
|       null|     []|               null|  amaddocks3@home.pl|     Ashby|  4|      false|    Maddocks|2021-04-10 17:45:30|{mobile -> null, ...|
|       null|     []|               null|krome4@shutterfly...|      Kurt|  5|      false|        Rome|2021-04-02 00:55:18|{mobile -> +1 817...|
+-----------+-------+-------------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format
import datetime

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": {"mobile": "+1 234 567 8901", "home": "+1 234 567 8911"},
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  {"mobile": "+1 234 567 8923", "home": "1 234 567 8934"},
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": {"mobile": "+1 714 512 9752", "home": "+1 714 512 6601"},
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": {"mobile": None, "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": {"mobile": "+1 817 934 7142", "home": None},
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Perform the operations
users_df['id']
col('id')
users_df.select('id', 'first_name', 'last_name').show()
cols = ['id', 'first_name', 'last_name']
users_df.select(*cols).show()
help(col)
user_id = col('id')
user_id
users_df.select(user_id).show()
users_df.select('id', 'customer_from').show()
users_df.select('id', 'customer_from').dtypes
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd')
).printSchema()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').alias('customer_from')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).printSchema()

cols = [col('id'), date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')]
users_df.select(*cols).show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    col : str
        the name for the column

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the corresponding column instance.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  2|   2021-02-14|
|  3|   2021-01-21|
|  4|         null|
|  5|         null|
+---+-------------+

+---+------------------------------------+
| id|date_format(customer_from, yyyyMMdd)|
+---+------------------------------------+
|  1|                            20210115|
|  2|                            20210214|
|  3|                            20210121|
|  4|                                null|
|  5|                                null|
+---+------------------------------------+

root
 |-- id: long (nullable = true)
 |-- date_format(customer_from, yyyyMMdd): string (nullable = true)

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

root
 |-- id: long (nullable = true)
 |-- customer_from: integer (nullable = true)

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

In [0]:
#08 Invoking Functions using Spark Column Objects
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, date_format
import datetime

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": {"mobile": "+1 234 567 8901", "home": "+1 234 567 8911"},
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  {"mobile": "+1 234 567 8923", "home": "1 234 567 8934"},
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": {"mobile": "+1 714 512 9752", "home": "+1 714 512 6601"},
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": {"mobile": None, "home": None},
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": {"mobile": "+1 817 934 7142", "home": None},
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Perform the operations
users_df['id']
col('id')
users_df.select('id', 'first_name', 'last_name').show()
cols = ['id', 'first_name', 'last_name']
users_df.select(*cols).show()
help(col)
user_id = col('id')
user_id
users_df.select(user_id).show()
users_df.select('id', 'customer_from').show()
users_df.select('id', 'customer_from').dtypes
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd')
).printSchema()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').alias('customer_from')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).show()
users_df.select(
    col('id'), 
    date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')
).printSchema()

cols = [col('id'), date_format('customer_from', 'yyyyMMdd').cast('int').alias('customer_from')]
users_df.select(*cols).show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    col : str
        the name for the column

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the corresponding column instance.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  2|   2021-02-14|
|  3|   2021-01-21|
|  4|         null|
|  5|         null|
+---+-------------+

+---+------------------------------------+
| id|date_format(customer_from, yyyyMMdd)|
+---+------------------------------------+
|  1|                            20210115|
|  2|                            20210214|
|  3|                            20210121|
|  4|                                null|
|  5|                                null|
+---+------------------------------------+

root
 |-- id: long (nullable = true)
 |-- date_format(customer_from, yyyyMMdd): string (nullable = true)

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

root
 |-- id: long (nullable = true)
 |-- customer_from: integer (nullable = true)

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|     20210115|
|  2|     20210214|
|  3|     20210121|
|  4|         null|
|  5|         null|
+---+-------------+

In [0]:
#09 Understanding lit function in Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "amount_paid": 1000.55
    },
    {
        "id": 2,
        "amount_paid": 900.0
    },
    {
        "id": 3,
        "amount_paid": 850.55
    },
    {
        "id": 4,
        "amount_paid": None
    },
    {
        "id": 5,
        "amount_paid": None
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Create temporary view
users_df.createOrReplaceTempView('users')

# Perform the operations
spark.sql("""
    SELECT id, (amount_paid + 25) AS amount_paid
    FROM users
""").show()

users_df.selectExpr('id', '(amount_paid + 25) AS amount_paid').show()

# This will fail
# users_df.select('id', 'amount_paid' + 25).show()  # Uncommenting this line will cause an error

from pyspark.sql.functions import lit

print(lit(25))  # Show the result of lit(25)

# This will also fail
# users_df.select('id', 'amount_paid' + '25').show()  # Uncommenting this line will cause an error

from pyspark.sql.functions import lit, col

print('amount_paid' + lit(25.0))  # Show the result of 'amount_paid' + lit(25.0)
print('amount_paid' + lit('25.0'))  # Show the result of 'amount_paid' + lit('25.0')

# Returns null
# amount_paid is converted to string by implicitly using lit.
# Spark returns null when we perform arithmetic operations on noncompatible types
users_df.select('id', 'amount_paid' + lit(25.0), lit(50) + lit(25)).show()

# This works
users_df.select('id', col('amount_paid') + lit(25.0)).show()

# lit returns column type
print(lit(25.0))  # Show the result of lit(25.0)

+---+-----------+
| id|amount_paid|
+---+-----------+
|  1|    1025.55|
|  2|      925.0|
|  3|     875.55|
|  4|       null|
|  5|       null|
+---+-----------+

+---+-----------+
| id|amount_paid|
+---+-----------+
|  1|    1025.55|
|  2|      925.0|
|  3|     875.55|
|  4|       null|
|  5|       null|
+---+-----------+

Column<'25'>
Column<'(25.0 + amount_paid)'>
Column<'(25.0 + amount_paid)'>
+---+--------------------+---------+
| id|(25.0 + amount_paid)|(50 + 25)|
+---+--------------------+---------+
|  1|                null|       75|
|  2|                null|       75|
|  3|                null|       75|
|  4|                null|       75|
|  5|                null|       75|
+---+--------------------+---------+

+---+--------------------+
| id|(amount_paid + 25.0)|
+---+--------------------+
|  1|             1025.55|
|  2|               925.0|
|  3|              875.55|
|  4|                null|
|  5|                null|
+---+--------------------+

Column<'25.0'>

In [0]:
#10 Overview of Renaming Spark Data Frame Columns or Expressions
There are multiple ways to rename Spark Data Frame Columns or Expressions.
* We can rename column or expression using `alias` as part of `select`
* We can add or rename column or expression using `withColumn` on top of Data Frame.
* We can rename one column at a time using `withColumnRenamed` on top of Data Frame.
* We typically use `withColumn` to perform row level transformations and then to provide a name to the result. If we provide the same name as existing column, then the column will be replaced with new one.
* If we want to just rename the column then it is better to use `withColumnRenamed`.
* If we want to apply any transformation, we need to either use `select` or `withColumn`
* We can rename bunch of columns using `toDF`.

In [0]:
#11 Naming derived columns using withColumn
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, lit, col, size

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "courses": [1, 2]
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "courses": [3]
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "courses": [2, 4]
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "courses": []
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "courses": []
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Display 'id', 'first_name', 'last_name'
users_df.select('id', 'first_name', 'last_name').show()

# Equivalent logic using select
users_df.select(
    'id', 'first_name', 'last_name',
    concat('first_name', lit(', '), 'last_name').alias('full_name')
).show()

# Equivalent logic using withColumn
users_df.select('id', 'first_name', 'last_name').withColumn('full_name', concat('first_name', lit(', '), 'last_name')).show()

# Help for withColumn function
help(users_df.withColumn)

# Add a new column 'fn' with the same values as 'first_name'
users_df.select('id', 'first_name', 'last_name').withColumn('fn', users_df['first_name']).show()

# Display 'id' and 'courses' columns
users_df.select('id', 'courses').show()

# Display data types of 'id' and 'courses' columns
users_df.select('id', 'courses').dtypes

# Add a new column 'course_count' containing the size of the 'courses' array
users_df.select('id', 'courses').withColumn('course_count', size('courses')).show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|Van den Oord|
|  2|  Nikolaus|     Brewitt|
|  3|    Orelie|      Penney|
|  4|     Ashby|    Maddocks|
|  5|      Kurt|        Rome|
+---+----------+------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|Van den Oord|Corrie, Van den Oord|
|  2|  Nikolaus|     Brewitt|   Nikolaus, Brewitt|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|     Ashby|    Maddocks|     Ashby, Maddocks|
|  5|      Kurt|        Rome|          Kurt, Rome|
+---+----------+------------+--------------------+

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName: str, col: pyspark.sql.column.Column) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new or replaced column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with multiple columns at once.

    Examples
    --------
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.withColumn('age2', df.age + 2).show()
    +---+-----+----+
    |age| name|age2|
    +---+-----+----+
    |  2|Alice|   4|
    |  5|  Bob|   7|
    +---+-----+----+

+---+----------+------------+--------+
| id|first_name|   last_name|      fn|
+---+----------+------------+--------+
|  1|    Corrie|Van den Oord|  Corrie|
|  2|  Nikolaus|     Brewitt|Nikolaus|
|  3|    Orelie|      Penney|  Orelie|
|  4|     Ashby|    Maddocks|   Ashby|
|  5|      Kurt|        Rome|    Kurt|
+---+----------+------------+--------+

+---+-------+
| id|courses|
+---+-------+
|  1| [1, 2]|
|  2|    [3]|
|  3| [2, 4]|
|  4|     []|
|  5|     []|
+---+-------+

+---+-------+------------+
| id|courses|course_count|
+---+-------+------------+
|  1| [1, 2]|           2|
|  2|    [3]|           1|
|  3| [2, 4]|           2|
|  4|     []|           0|
|  5|     []|           0|
+---+-------+------------+

In [0]:
#12 Renaming Columns using withColumnRenamed
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord"
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt"
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney"
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks"
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome"
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Display the original DataFrame
users_df.select('id', 'first_name', 'last_name').show()

# Rename columns 'id', 'first_name', and 'last_name'
renamed_df = users_df.select('id', 'first_name', 'last_name') \
    .withColumnRenamed('id', 'user_id') \
    .withColumnRenamed('first_name', 'user_first_name') \
    .withColumnRenamed('last_name', 'user_last_name')

# Show the DataFrame with renamed columns
renamed_df.show()

In [0]:
#13 Renaming Spark Data Frame columns or expressions using alias
from pyspark.sql.functions import col, concat, lit
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord"
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt"
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney"
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks"
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome"
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Display help for alias function
help(col('id').alias)

# Using select
users_df.select(
    col('id').alias('user_id'),
    col('first_name').alias('user_first_name'),
    col('last_name').alias('user_last_name'),
    concat(col('first_name'), lit(', '), col('last_name')).alias('user_full_name')
).show()

# Using withColumn and alias (first select and then withColumn)
users_df.select(
    col('id').alias('user_id'),
    col('first_name').alias('user_first_name'),
    col('last_name').alias('user_last_name')
).withColumn('user_full_name', concat(col('user_first_name'), lit(', '), col('user_last_name'))).show()

# Using withColumn and alias (first withColumn and then select)
users_df.withColumn('user_full_name', concat(col('first_name'), lit(', '), col('last_name'))) \
    .select(
        col('id').alias('user_id'),
        col('first_name').alias('user_first_name'),
        col('last_name').alias('user_last_name'),
        'user_full_name'
    ).show()

In [0]:
#14 Renaming and Reordering multiple Spark Data Frame Columns
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .getOrCreate()

# Define the dataset
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": {"mobile": "+1 234 567 8901", "home": "+1 234 567 8911"},
        "courses": [1, 2]
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers": {"mobile": "+1 234 567 8923", "home": "+1 234 567 8934"},
        "courses": [3]
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": {"mobile": "+1 714 512 9752", "home": "+1 714 512 6601"},
        "courses": [2, 4]
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": None,
        "courses": []
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": {"mobile": "+1 817 934 7142"},
        "courses": []
    }
]

# Create DataFrame
users_df = spark.createDataFrame(users)

# Define required and target columns
required_columns = ['id', 'first_name', 'last_name', 'email', 'phone_numbers', 'courses']
target_column_names = ['user_id', 'user_first_name', 'user_last_name', 'user_email', 'user_phone_numbers', 'enrolled_courses']

# Display help for toDF function
help(users_df.toDF)

# Select and display required columns
users_df.select(required_columns).show()

# Select required columns and rename them
renamed_df = users_df.select(required_columns).toDF(*target_column_names)

# Show the DataFrame with renamed columns
renamed_df.show()